:root {
  --story-fade-in-style: fadeIn ease 2s;
  --light-purple: #e4d2e4;
  --soft-purple: #aa8cc5;
  --dark-purple: #551a8b;
  --light-grey: #696969	;
}

html, body {
  font-family: 'Tiempos Text Web', Georgia, Times, serif;
  background-color: var(--light-purple);
  /*height: 100%;*/
}

/* INITIAL TITLE TYPE WRITER AND FADE IN EFFECT */
#title {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  height: 100vh;
}

#title-text {
  text-align: center;
  width: 100vw;
  margin: 0px;
  padding: 0px;
}

.fade-in {
  animation: var(--story-fade-in-style);
  -webkit-animation: var(--story-fade-in-style);
  -moz-animation: var(--story-fade-in-style);
  -o-animation: var(--story-fade-in-style);
  -ms-animation: var(--story-fade-in-style);
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* @media only screen and (max-width: 400px) {
  #story {
    width: 80%;
  }
} */

#story {
  /* max-width: 40rem;
  margin: 0 auto;
  padding: 0 1em;
  display: none;
  font-size: medium; */
  display: none;
}

.center-div {
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 1em;
  font-size: medium;
}

#speechiness-analysis {
  max-width: 54rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

#speechiness-analysis .speechiness-chart {
  width: 400px;
  height: 400px;
}

/* SONG DURATION */
.album-type-filters {
  display: flex;
}

.album-type-filter {
  cursor: pointer;
  font-size: small;
  /*background-color: var(--dark-purple);*/
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  padding: 5px;
  margin: 0 1em;
}

.album-type-filter:hover {
  color: var(--light-purple);
  background-color: var(--dark-purple)
}

.active {
  color: var(--light-purple);
  background-color: var(--dark-purple)
}

/* SIDE CARRIAGE FORMAT ( Reference: https://pudding.cool/process/scrollytelling-sticky/ )*/
/* #scrolly-side .scrolly {
  display: -webkit-box;
  display: flex;
  max-width: 60rem;
  margin: 3rem auto;
  padding: 1rem;
}

#scrolly-side .scrolly > * {
  -webkit-box-flex: 1;
  flex: 1;
}

#scrolly-side .scrolly article {
  padding-right: 1rem;
  max-width: 15rem;
}

#scrolly-side .scrolly article .step {
  min-height: 67vh;
  margin-bottom: 1rem;
}

#scrolly-side .scrolly article .step:last-of-type {
  margin-bottom: 0;
}

#scrolly-side .scrolly article .step.is-active {
  background-color: #008080;
}

#scrolly-side .scrolly article .step p {
  margin: 0;
  padding: 1rem;
  text-align: left;
  font-weight: 400;
  border: 1px solid black;
  border-radius: 5px;
}

#scrolly-side .scrolly figure.sticky {
  position: -webkit-sticky;
  position: sticky;
  height: 100%;
  margin: 0;
  top: 25vh;
  left: 0;
} */


#scrolly-overlay .scrolly {
  max-width: 60rem;
  margin: 3rem auto;
  padding: 1rem;
}
#scrolly-overlay .scrolly article {
  padding: 0;
  max-width: 30rem;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
#scrolly-overlay .scrolly article .step {
  min-height: 67vh;
  margin-bottom: 1rem;
}
#scrolly-overlay .scrolly article .step:last-of-type {
  margin-bottom: 0;
}
#scrolly-overlay .scrolly article .step.is-active p {
  background-color: #008080;
}
#scrolly-overlay .scrolly article .step p {
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-weight: 400;
  background-color: var(--soft-purple);
  border: 1px solid var(--dark-purple);
  border-radius: 5px;
  /* -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out; */
}
#scrolly-overlay .scrolly figure.sticky {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  /*height: 50vh;*/
  margin: 0;
  top: 7vh;
  left: 0;
}

#album-overview {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column;
  justify-content: space-between;
  align-content: space-around; */
  /*height: 50vh;*/
  max-width: 40rem;
  margin: 0 auto;
}

#album-overview img {
  /*flex: 50%;*/
  padding: 5px;
  width: 150px;
  height: 150px;
  flex-grow: 1;
  /*filter: gray;*/ /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-transform: translate3d(0,0,0); /* needed to prevent flickering */
}

#album-overview img:nth-last-child(-n+2) {
  /*flex: 50%;*/
  width: 300px;
  height: 300px;
  flex-grow: 1;
}