:root {
  --story-fade-in-style: fadeIn ease 2s;
}

html, body {
  font-family: 'Tiempos Text Web', Georgia, Times, serif;
  background-color: #e4d2e4;
  /*height: 100%;*/
}

/* INITIAL TITLE TYPE WRITER AND FADE IN EFFECT */
#title {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  height: 100vh;
}

#title-text {
  text-align: center;
  width: 100vw;
  margin: 0px;
  padding: 0px;
}

.fade-in {
  animation: var(--story-fade-in-style);
  -webkit-animation: var(--story-fade-in-style);
  -moz-animation: var(--story-fade-in-style);
  -o-animation: var(--story-fade-in-style);
  -ms-animation: var(--story-fade-in-style);
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

#story {
  width: 80%;
  display: none;
}

/* SIDE CARRIAGE FORMAT ( Reference: https://pudding.cool/process/scrollytelling-sticky/ )*/

.filler {
  height: 20rem;
  text-align: center;
}
#scrolly-side .scrolly {
  display: -webkit-box;
  display: flex;
  max-width: 60rem;
  margin: 3rem auto;
  background-color: #f4f4f4;
  padding: 1rem;
}
#scrolly-side .scrolly > * {
  -webkit-box-flex: 1;
          flex: 1;
}
#scrolly-side .scrolly article {
  padding-right: 1rem;
  max-width: 30rem;
}
#scrolly-side .scrolly article .step {
  min-height: 67vh;
  margin-bottom: 1rem;
  background-color: #5b5b5b;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}
#scrolly-side .scrolly article .step:last-of-type {
  margin-bottom: 0;
}
#scrolly-side .scrolly article .step.is-active {
  background-color: #008080;
}
#scrolly-side .scrolly article .step p {
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-weight: 400;
  color: #f4f4f4;
}
#scrolly-side .scrolly figure.sticky {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: 50vh;
  background: #969696;
  margin: 0;
  top: 25vh;
  left: 0;
}
#scrolly-side .scrolly figure.sticky .bar-outer {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 90%;
  height: 4rem;
  background-color: #fff;
}
#scrolly-side .scrolly figure.sticky .bar-inner {
  width: 10%;
  height: 100%;
  -webkit-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  background-color: #daa520;
}

