<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Over the Years</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/index.css') }}" />
  </head>
  <body>
    <div id="content">
      <div id="title">
        <h1 id="title-text"></h1>
      </div>

      <div id="story">
        <div id="intro">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a 
            galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also 
            the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the 
            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software 
            like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>

        <section id='scrolly-side'>
  
          <div class='scrolly'>
            
            <!--  step text   -->
            <article>
              <div class='step' data-width='10%' data-index='0'>
                  <p>Bar is 10%</p>
              </div>
              <div class='step' data-width='90%' data-index='1'>
                 <p>Bar is 90%</p>
              </div>
              <div class='step' data-width='50%' data-index='2'>
                <p>Bar is 50%</p>
              </div>
            </article>
            
             <!--  sticky graphic   -->
            <figure class='sticky'>
              <div class='bar-outer'>
                <div class='bar-inner'></div>
              </div>
            </figure>
            
          </div>
          
        </section>

        <section class='filler'>
          <p>
            {{ end }}
          </p>
        </section>
      </div>
    </div>

    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typeit@7.0.4/dist/typeit.min.js"></script>
    <script src="https://unpkg.com/intersection-observer"></script>
    <script src="https://unpkg.com/enter-view"></script>
    <script src="../static/stickyfill.min.js"></script>
    <script src="../static/script.js"></script>
  </body>
</html>

