<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Over the Years</title>
    <link rel="stylesheet" href="../static/index.css" />
  </head>
  <body>
    <div id="content">
      <div id="title">
        <h1 id="title-text"></h1>
      </div>

      <div id="story">
        <div id="intro">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a 
            galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also 
            the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the 
            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software 
            like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>

        <!-- sticky graphic -->
        <figure class='sticky'>
          <!-- chart stuff in here -->
          <img src="https://via.placeholder.com/150" alt="" />
        </figure>

        <!-- step text -->
        <article>
          <div class='step' data-index='0'>
            <p>Step text</p>
          </div>
          <!-- ...more steps -->
        </article>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/typeit@7.0.4/dist/typeit.min.js"></script>
    <script src="../static/script.js"></script>
  </body>
</html>

